version: "3.9"

services:
  postgres:
    image: docker.io/library/postgres:15.3
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orchestration
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  nats:
    image: docker.io/library/nats:latest
    ports:
      - "4222:4222" # Client port
      - "8222:8222" # Monitoring port (optional)
    # command: -js # Enable JetStream if desired
    # volumes:
    #   - ./nats-data:/data # Optional: for persistent JetStream data

  co:
    build:
      dockerfile: ./dockerfile.co
    ports:
      - 9101:9101
    depends_on:
      - postgres
    environment:
      DATABASE_URL: ${DATABASE_URL}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 5
  lo:
    build:
      dockerfile: ./dockerfile.lo
    ports:
      - 9102:9102
    depends_on:
      - postgres
      - nats
    environment:
      # - DATABASE_URL:${DATABASE_URL}
      BOLT_PATH: /data/nodes.db
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GITHUB_TOKEN}
    volumes:
      - ./data/lo:/data
      - ./local-cache:/tmp/repo-cache

  en:
    build:
      dockerfile: ./dockerfile.en
    ports:
      - 9201:9201
    depends_on:
      - nats
    environment:
      - NATS_URL=nats://nats:4222
      - GITHUB_TOKEN:${GITHUB_TOKEN}
    volumes:
      - ./local-cache:/local-cache

volumes:
  pgdata:
