version: "3.9"

services:
  postgres:
    image: docker.io/library/postgres:15.3
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orchestration
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  nats:
    image: docker.io/library/nats:latest
    ports:
      - "4222:4222" # Client port
      - "8222:8222" # Monitoring port (optional)

# networks:
#   orchestrator-net:
#     driver: bridge

volumes:
  pgdata: