version: "3.9"

services:
  postgres:
    image: docker.io/library/postgres:15.3
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orchestration
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - edge-net
      
  nats:
    image: docker.io/library/nats:latest
    ports:
      - "4222:4222" # Client port
      - "8222:8222" # Monitoring port (optional)
    # command: -js # Enable JetStream if desired
    # volumes:
    #   - ./nats-data:/data # Optional: for persistent JetStream data
    networks:
      - edge-net

  prometheus:
    image: docker.io/prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - edge-net

  co:
    build:
      dockerfile: ./dockerfile.co
    ports:
      - 9001:9001
    expose:
      - "9200"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: ${DATABASE_URL}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      PORT: 9001
      SITE_ID: 3e5c21bc-2fef-4fd7-a2d0-60fc6b3260ad
    # healthcheck:
    #   test: ["CMD", "pg_isready", "-U", "postgres"]
    #   interval: 5s
    #   timeout: 3s
    #   retries: 5
    networks:
      - edge-net
  lo:
    build:
      dockerfile: ./dockerfile.lo
    ports:
      - 9010:9010
    expose:
      - "9200"
    depends_on:
      - postgres
      - nats
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GITHUB_TOKEN} 
      PORT: 9010
      REPO: 
      CO_URL: http://co:9001/api/v1
      SITE_ID: 3e5c21bc-2fef-4fd7-a2d0-60fc6b3260ad
    volumes:
      # - ./data/lo:/data
      - ./local-cache:/tmp/repo-cache
    networks:
      - edge-net

  en:
    build:
      dockerfile: ./dockerfile.en
    ports:
      - 9100:9100
    expose:
      - "9200" 
    depends_on:
      - nats
    environment:
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GITHUB_TOKEN} 
      RUNTIME: containerd
      NODE_ID: node_id_1
      SITE_ID: 3e5c21bc-2fef-4fd7-a2d0-60fc6b3260ad 
      PORT: 9100 
    # volumes:
    #   - ./local-cache:/local-cache
    networks:
      - edge-net

networks:
  edge-net:
    driver: bridge
    # external: false

volumes:
  pgdata:
