version: "3.9"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80" # Map public port 80 to the Nginx container
    volumes:
      # Mount the local nginx.conf file into the container
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - co
      - lo
      - en

  postgres:
    image: docker.io/library/postgres:15.3
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orchestration
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - edge-net
      
  nats:
    image: docker.io/library/nats:latest
    ports:
      - "4222:4222" # Client port
      - "8222:8222" # Monitoring port (optional)
    # command: -js # Enable JetStream if desired
    # volumes:
    #   - ./nats-data:/data # Optional: for persistent JetStream data
    networks:
      - edge-net

  co:
    build:
      dockerfile: ./dockerfile.co
    # ports:
    #    - "8080:80"
    expose:
      - 8080
    depends_on:
      - postgres
    environment:
      DATABASE_URL: ${DATABASE_URL}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      PORT: 8080
      SITE_ID: site_id_1
    # healthcheck:
    #   test: ["CMD", "pg_isready", "-U", "postgres"]
    #   interval: 5s
    #   timeout: 3s
    #   retries: 5
    networks:
      - edge-net
  lo:
    build:
      dockerfile: ./dockerfile.lo
    # ports:
    #   - "8081:80"
    expose:
      - 8080
    depends_on:
      - postgres
      - nats
    environment:
      # - DATABASE_URL:${DATABASE_URL}
      BOLT_PATH: /data/nodes.db
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GITHUB_TOKEN} 
      PORT: 8080
      REPO: 
      CO_URL: http://co:9001/api/v1
      SITE_ID: site_id_1
    volumes:
      - ./data/lo:/data
      - ./local-cache:/tmp/repo-cache
    networks:
      - edge-net
    deploy:
      replicas: 2

  en:
    build:
      dockerfile: ./dockerfile.en
    # ports:
    #   - 9100:9100 
    expose:
      - 8080
    depends_on:
      - nats
    environment:
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GITHUB_TOKEN} 
      RUNTIME: containerd
      NODE_ID: node_id_1
      SITE_ID: site_id_1 
      PORT: 8080 
    # volumes:
    #   - ./local-cache:/local-cache
    networks:
      - edge-net
    deploy:
      replicas: 4

networks:
  edge-net:
    driver: bridge

volumes:
  pgdata:
